.fa{
 

    color: white;
    font-size: 26px;
  }
  .btn {

    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    cursor: pointer;
  }
  div.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
  }